In [15]:
import pandas as pd
import numpy as np

In [3]:
gold_data = pd.read_excel('/home/trishalaswain/ClientData/PH/PEP_GOLD_DATA.xlsx', index_col=False)

In [4]:
gold_data.columns

Index(['Unnamed: 0', 'encounter_id', 'service_date', 'processing_date',
       'last_coding_date', 'month', 'facility_code', 'account_number',
       'eandm_suggested', 'eandm_final'],
      dtype='object')

In [23]:
gold_data.last_coding_date = pd.to_datetime(gold_data.last_coding_date)
gold_data = gold_data[gold_data.last_coding_date >= '2023-08-23']

In [25]:
gold_data.reset_index(inplace=True, drop=True)

In [26]:
gold_data

,Unnamed: 0,encounter_id,service_date,processing_date,last_coding_date,month,facility_code,account_number,eandm_suggested,eandm_final
0,1005,9407957,2023-08-24 18:39:42,2023-08-27 01:06:39,2023-08-31 21:16:12,2023-08,PEP,13317159,{99284=[]},99285
1,1006,9407975,2023-08-22 22:18:08,2023-08-27 01:06:49,2023-08-30 03:41:39,2023-08,PEP,13315345,{99284=[]},99284
2,1009,9408208,2023-08-24 21:11:29,2023-08-27 01:21:09,2023-08-31 20:06:46,2023-08,PEP,13317223,{99284=[25]},99285
3,1010,9408003,2023-08-25 15:27:37,2023-08-27 01:09:06,2023-08-31 22:15:12,2023-08,PEP,13317895,{99284=[]},99284
4,1027,9261521,2023-08-18 09:46:24,2023-08-20 01:22:30,2023-08-24 08:44:55,2023-08,PEP,13311948,{99284=[25]},99285
...,...,...,...,...,...,...,...,...,...,...
4432,74266,9576103,2023-08-31 08:42:52,2023-09-03 01:17:31,2023-09-07 20:02:02,2023-09,PEP,13322348,{99284=[25]},99285 = [25-Sig/Sep ID E&M Same Pro/Day]
4433,74267,9457168,2023-08-28 11:10:00,2023-08-29 02:16:13,2023-09-04 09:10:40,2023-09,PEP,13319538,{99284=[25]},99284
4434,74268,9408013,2023-08-25 18:42:22,2023-08-27 01:09:12,2023-09-01 04:27:52,2023-09,PEP,13318022,{99284=[]},99284
4435,74269,9482162,2023-08-29 09:12:54,2023-08-30 02:09:43,2023-09-05 04:49:39,2023-09,PEP,13320433,{99223=[]},99223
4436,74270,9682691,2023-08-29 19:07:47,2023-09-08 01:14:16,2023-09-08 02:11:35,2023-09,PEP,13321083,{99284=[]},99284 = [U7-M/Caid Care Lev 7 State Def]

In [5]:
# gold_data.encounter_id = gold_data.encounter_id.astype(int)
# gold_data.account_number = gold_data.account_number.astype(int)

In [6]:
local_data = pd.read_excel('/home/trishalaswain/ClientData/PH/PEP_LOCAL_OUTPUT.xlsx', index_col=False)

In [7]:
# local_data.encounter_id = local_data.encounter_id.astype(int)
# local_data.account_number = local_data.account_number.astype(int)

In [8]:
local_data.columns

Index(['encounter_id', 'account_number', 'local_suggested'], dtype='object')

In [9]:
local_data.account_number.nunique()

1660

In [27]:
inner_join = pd.merge(local_data, gold_data, on =['account_number'], how ='inner')

In [28]:
inner_join.drop(labels=['encounter_id_y', 'Unnamed: 0'], axis=1, inplace=True)

In [29]:
inner_join

,encounter_id_x,account_number,local_suggested,service_date,processing_date,last_coding_date,month,facility_code,eandm_suggested,eandm_final
0,3401740,13318396,99284,2023-08-26 15:29:45,2023-08-31 01:27:56,2023-09-01 20:41:14,2023-09,PEP,{99284=[]},99284
1,3401740,13318396,99284,2023-08-26 15:29:45,2023-08-31 01:27:56,2023-09-01 20:41:14,2023-09,PEP,{99284=[]},99284
2,3401736,13318412,99223,2023-08-26 16:11:19,2023-08-27 02:16:36,2023-09-01 20:49:20,2023-09,PEP,{99285=[25]},99223
3,3402191,13319078,99285,2023-08-28 07:28:48,2023-08-29 02:17:29,2023-09-03 23:04:42,2023-09,PEP,{99285=[25]},99285
4,3402232,13319412,99284,2023-08-28 10:17:00,2023-08-29 02:13:21,2023-09-04 08:53:48,2023-09,PEP,{99284=[]},99284
...,...,...,...,...,...,...,...,...,...,...
1698,3402679,13321031,99291,2023-08-29 17:58:46,2023-08-30 02:16:35,2023-09-06 19:27:09,2023-09,PEP,{99285=[25]},99291
1699,3401842,13318565,99236,2023-08-26 23:28:00,2023-08-28 01:10:10,2023-09-03 01:56:28,2023-09,PEP,{99285=[25]},"99239, 99223 = [25-Sig/Sep ID E&M Same Pro/Day]"
1700,3402468,13320167,99284,2023-08-28 23:09:45,2023-08-30 01:27:03,2023-09-04 18:38:55,2023-09,PEP,{99284=[]},99284
1701,3402970,13322016,99223,2023-08-30 17:16:36,2023-08-31 02:21:53,2023-09-07 13:18:30,2023-09,PEP,{99285=[]},99285
1702,3402589,13320731,99291,2023-08-29 12:12:05,2023-08-30 02:10:57,2023-09-06 16:24:22,2023-09,PEP,{99285=[25]},99291

In [46]:
inner_join.local_suggested = inner_join.local_suggested.astype('str')
inner_join.encounter_id_x = inner_join.encounter_id_x.astype('str')
inner_join.service_date = inner_join.service_date.astype('str')
inner_join.processing_date = inner_join.processing_date.astype('str')
inner_join.last_coding_date = inner_join.last_coding_date.astype('str')

AttributeError: 'NoneType' object has no attribute 'local_suggested'

In [42]:
inner_join = inner_join.groupby(['account_number', 'encounter_id_x'], axis=0).agg(', '.join)

In [43]:
# inner_join.account_number.nunique()

AttributeError: 'NoneType' object has no attribute 'account_number'

In [45]:
inner_join

In [35]:
# set(local_data.account_number.to_list()) - set(gold_data.account_number.to_list())

In [37]:
import re
for i,r in inner_join.iterrows():
    inner_join.loc[i,'clean_suggested'] = ','.join([str(elem) for elem in re.findall(r"\b\d{5}\b", str(r['eandm_suggested']))])
    inner_join.loc[i,'clean_final'] = ','.join([str(elem) for elem in re.findall(r"\b\d{5}\b", str(r['eandm_final']))])

In [38]:
inner_join

,encounter_id_x,account_number,local_suggested,service_date,processing_date,last_coding_date,month,facility_code,eandm_suggested,eandm_final,clean_suggested,clean_final
0,3401740,13318396,99284,2023-08-26 15:29:45,2023-08-31 01:27:56,2023-09-01 20:41:14,2023-09,PEP,{99284=[]},99284,99284,99284
1,3401740,13318396,99284,2023-08-26 15:29:45,2023-08-31 01:27:56,2023-09-01 20:41:14,2023-09,PEP,{99284=[]},99284,99284,99284
2,3401736,13318412,99223,2023-08-26 16:11:19,2023-08-27 02:16:36,2023-09-01 20:49:20,2023-09,PEP,{99285=[25]},99223,99285,99223
3,3402191,13319078,99285,2023-08-28 07:28:48,2023-08-29 02:17:29,2023-09-03 23:04:42,2023-09,PEP,{99285=[25]},99285,99285,99285
4,3402232,13319412,99284,2023-08-28 10:17:00,2023-08-29 02:13:21,2023-09-04 08:53:48,2023-09,PEP,{99284=[]},99284,99284,99284
...,...,...,...,...,...,...,...,...,...,...,...,...
1698,3402679,13321031,99291,2023-08-29 17:58:46,2023-08-30 02:16:35,2023-09-06 19:27:09,2023-09,PEP,{99285=[25]},99291,99285,99291
1699,3401842,13318565,99236,2023-08-26 23:28:00,2023-08-28 01:10:10,2023-09-03 01:56:28,2023-09,PEP,{99285=[25]},"99239, 99223 = [25-Sig/Sep ID E&M Same Pro/Day]",99285,"99239,99223"
1700,3402468,13320167,99284,2023-08-28 23:09:45,2023-08-30 01:27:03,2023-09-04 18:38:55,2023-09,PEP,{99284=[]},99284,99284,99284
1701,3402970,13322016,99223,2023-08-30 17:16:36,2023-08-31 02:21:53,2023-09-07 13:18:30,2023-09,PEP,{99285=[]},99285,99285,99285
1702,3402589,13320731,99291,2023-08-29 12:12:05,2023-08-30 02:10:57,2023-09-06 16:24:22,2023-09,PEP,{99285=[25]},99291,99285,99291

In [ ]:
def get_counts(x):
    
    suggested = str(x['suggested'])
    final = str(x['final'])
    
    if suggested != '':
        suggested_set = set(suggested.split(', '))
        final_set = set(final.split(','))
        if '9' not in suggested:
            final_set.clear()
        if '9' not in final:
            final_set.clear()
        if '99291' in suggested or '99291' in final:
            final_set.clear()
            suggested_set.clear()
        accepted = len(suggested_set.intersection(final_set))
        rejected = len(suggested_set - final_set)
        added = len(final_set - suggested_set)
        if (rejected >= 1 or added >= 1):
        
            print('rejected',rejected)
            print('added',added)
            print('suggested_set',suggested_set,'\t final_set',final_set)
            print('accountNumber', str(x['account']))
        return pd.Series({'accepted':accepted, 'rejected':rejected, 'added':added})