In [12]:
import pandas as pd
import ast

In [13]:
df = pd.read_excel("/home/trishalaswain/Downloads/Data/SCP-5365-GREENVILLE COMMUNITY HOSPITAL EAST-2023-01-01-2023-01-31.xlsx", index_col=False)

In [14]:
df1 = df[["accountNumber","EANDM_Final","EANDM_Suggested","EANDM_Accepted","EANDM_Rejected","EANDM_Added","EANDM_Accepted_Count","EANDM_Rejected_Count","EANDM_Added_Count"]]

In [15]:
def clean_suggested(df1):
    df1['clean_suggested'] = None
    for ind, row in df1.iterrows():
        if len(row["EANDM_Accepted"]) == 2:
            accepted = ""
        else:
            accepted = row["EANDM_Accepted"][1:-1]
            
        if len(row["EANDM_Rejected"]) == 2:
            rejected = ""
        else:
            rejected = row["EANDM_Rejected"][1:-1]

            
        if len(accepted) == 0:
            li = []
        else:
            li = ast.literal_eval(accepted)
            li = [li]

        if len(rejected) == 0:
            li2 = []
        else:
            li2 = ast.literal_eval(rejected)
            li2 = [li2]

        li3 = li + li2
        df1.at[ind,'clean_suggested'] = li3

In [16]:
clean_suggested(df1)

/tmp/ipykernel_74457/2744366905.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['clean_suggested'] = None

In [17]:
df1

,accountNumber,EANDM_Final,EANDM_Suggested,EANDM_Accepted,EANDM_Rejected,EANDM_Added,EANDM_Accepted_Count,EANDM_Rejected_Count,EANDM_Added_Count,clean_suggested
0,84767141,99283 = [25-Sig/Sep ID E&M Same Pro/Day],"{99284=[25], 99281=[25, 25]}",[],"[99284, 99281]",[99283],0,2,1,"[(99284, 99281)]"
1,84767162,99284,{99284=[25]},[99284],[],[],1,0,0,[99284]
2,84767186,99285,"{99284=[25], 99281=[25, 25]}",[],"[99284, 99281]",[99285],0,2,1,"[(99284, 99281)]"
3,84820779,99285,{99285=[]},[99285],[],[],1,0,0,[99285]
4,84854375,99285,"{99281=[], 99291=[]}",[],"[99281, 99291]",[99285],0,2,1,"[(99281, 99291)]"
...,...,...,...,...,...,...,...,...,...,...
2733,87055781,99284,{99284=[]},[99284],[],[],1,0,0,[99284]
2734,87055786,99284,{99284=[]},[99284],[],[],1,0,0,[99284]
2735,87055787,99284,{99285=[]},[],[99285],[99284],0,1,1,[99285]
2736,87055788,99284,{99284=[]},[99284],[],[],1,0,0,[99284]
2737,87073920,99284,{99284=[]},[99284],[],[],1,0,0,[99284]